:root {

    /* primary color */

    -violet: rgb(89, 100, 224);
    -light_violet: rgb(147, 155, 244);

    -dark_blue: rgb(25, 32, 45);
    -mid_night: rgb(18, 23, 33);


    /* secondary color */

    -white: rgb(255, 255, 255);
    -light_grey: rgb(244, 246, 248);

    -grey: rgb(157, 174, 194);
    -dark_grey: rgb(110, 128, 152);

}

