.search_bar {
  display: flex;
  margin-inline: 17rem;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 0.6rem;
}

.company_input, .country_input {
  font-size: 1.6rem;
  color: #19202d;
  padding: 1rem;
  border: none;
}

.lot_search, .lot_country{
  position: relative;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
    padding: 2rem;
    min-width: 20rem;
}

.check_full{
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    padding: 2rem;
    font-size: 1.6rem;
    color:  #19202d;
    font-weight: 600;
    cursor: pointer;
    flex-shrink: 0!important;
    text-transform: capitalize;
}

.btn_search{
  background-color: #5964E0;
  color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0.5rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
    width: 14rem;
}

.btn_search:hover{
  background-color: #939BF4;
}